<%= render partial: "backdrop" %>

<article class="container login-container">
    <div class="row">
        <div class="col-md-12">

            <h1><%= t "Profiles" %></h1>
            <h2><%= t "Access your account " %></h2>

            <%= render partial: "messages", locals: {flash: flash} %>

            <%= link_to '/auth/facebook', class: "btn btn-primary btn-lg btn-block" do %>
                <i class="fa fa-facebook-square"></i>
                <%= "Login with Facebook" %>
            <% end %>


            <%= link_to '/auth/github', class: "btn btn-primary btn-lg btn-block" do %>
                <i class="fa fa-github-square"></i>
                <%= "Login with github" %>
            <% end %>
        </div>
    </div>
</article>
