<% content_for :header  do %>
<meta name="tmt:track:entity:updated_at" content="<%= @track.updated_at %>">
<% end %>

<%= render partial: "backdrop", locals: {entity: @track.albums.first} %>

<h1><%= link_to @track.title, controller: :tracks, action: :show, id: @track.slug %></h1>
<h2><%= link_to @track.artist.name, controller: :artists, action: :show, id: @track.artist.slug  %></h2>

<ul class="appears-on">
    <li class="title"><%= t 'Appears on' %>:</li>
<% @track.albums.each do |album| %>
    <li<% if TracksHelper.isSameSource @version, album %> class="selected-version"<% end %>>
        <%= link_to image_tag(album.get_thumbnail_url, alt: album.title, title: album.title), controller: :albums, action: :show, id: album.slug %>
        <%= link_to album.title, controller: :albums, action: :show, id: album.slug %>
    </li>
<% end %>
</ul>

<%= render partial: "review_button", locals: {track: @track, album: @version} %>

<%= render partial: "player", locals: {track: @track} %>
