<%= render partial: "backdrop", locals: {entity: @track.albums.first} %>

<h1><%= link_to @track.title, controller: :tracks, action: :show, id: @track.slug %></h1>
<h2><%= link_to @track.artist.name, controller: :artists, action: :show, id: @track.artist.slug  %></h2>

<ul>
    <li><%= t 'Appears on' %>:</li>
<% @track.albums.each do |album| %>
    <li>
        <%= link_to image_tag(album.get_thumbnail_url, alt: album.title, title: album.title), controller: :albums, action: :show, id: album.slug %>
        <%= link_to album.title, controller: :albums, action: :show, id: album.slug %>
    </li>
<% end %>
</ul>

<%= render partial: "review_button", locals: {track: @track} %>

<%= render partial: "player", locals: {track: @track} %>

<section class="update-information">
    <ul>
        <li>Entity : <%= @track.updated_at %></li>
    </ul>
</section>
