<%= render partial: "backdrop", locals: {entity: @track.albums.first} %>

<h1><%= link_to @track.title, controller: :tracks, action: :view, slug: @track.slug %></h1>
<h2><%= link_to @track.albums.first.artist.name, controller: :artists, action: :view, slug: @track.albums.first.artist.slug  %></h2>

<ul>
    <li><%= t 'Appears on' %>:</li>
<% @track.albums.each do |album| %>
    <li><img src="<%= album.get_thumbnail_url 'thumb' %>" alt="<%= album.title %>" title="<%= album.title %>">
    <%= link_to album.title, controller: :albums, action: :view, slug: album.slug %></li>
<% end %>
</ul>

<%= link_to t("Review"), {controller: :tracks, action: :review, slug: @track.slug}, class: "btn btn-primary" %>

<%= render partial: "player", locals: {track: @track} %>

<section class="update-information">
    <ul>
        <li>Entity : <%= @track.updated_at %></li>
    </ul>
</section>
