<%= render partial: "backdrop", locals: {entity: @track.albums.first} %>

<h1><%= link_to @track.title, controller: :tracks, action: :view, slug: @track.slug %></h1>
<h2><%= link_to @track.albums.first.artist.name, controller: :artists, action: :view, slug: @track.albums.first.artist.slug  %></h2>

<ul>
    <li><%= t 'Appears on' %>:</li>
<% @track.albums.each do |album| %>
    <img src="<%= album.get_thumbnail_url 'thumb' %>" alt="<%= album.title %>" title="<%= album.title %>">
    <%= link_to album.title, controller: :albums, action: :view, slug: album.slug %>
<% end %>
</ul>


<%= content_tag :div, @track.player_attributes do -%>

    <div class="progress-wrap">
        <div class="progress">
          <div class="progress-bar loaded-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="<%= @track.duration %>" style="width: 0%;"></div>
          <div class="progress-bar playing-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="<%= @track.duration %>" style="width: 0%;"></div>
        </div>
       <div class="cursor"></div>
    </div>
    <i class="play fa fa-stop"></i>
    <div class="times">
        <span class="position"> -:--</span> / <span class="duration"> -:--</span>
    </div>
<% end -%>
<small class="report-bug" data-bug-type="track player" data-location="artist: <%= @track.albums.first.artist.name; %>, track: <%= @track.title; %>" data-user=""><i class="fa fa-bug"></i> <%= t 'Wrong song?' %></small>




<section class="update-information">
    <ul>
        <li>Entity : <%= @track.updated_at %></li>
    </ul>
</section>
