<%= form_tag({controller: :ajax, action: :bugreport}, {class: "container edit-container", role: "form"}) do |f| %>
    <% unless @bug.nil? %>
        <input type="hidden" name="number" value="<%= @bug[:number] %>" />
    <% end %>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><%= t "Close" %></span></button>
        <h4 class="modal-title"><%= t "Report something" %></h4>
    </div>
    <div class="modal-body">
        <p><%= t "I have been notified there was a problem with this area and I will fix it as soon as I can" %>.</p>
        <p><%= t "Thanks again for helping keep the Tank healthy" %>! <i class="fa fa-heart"></i></p>
        <p><%= t "Did you want to add additional information" %></p>
        <textarea class="form-control" name="details"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t "Close" %></button>
    </div>
<% end %>
