<% content_for :header  do %>
<meta name="tmt:artist:lastfm:updated_at" content="<%= @artist.last_lastfm_update %>">
<meta name="tmt:artist:musicbrainz:updated_at" content="<%= @artist.last_mb_update %>">
<meta name="tmt:artist:entity:updated_at" content="<%= @artist.updated_at %>">
<% end %>

<%= render partial: "backdrop", locals: {entity: @artist} %>

<h1><%= link_to @artist.name, @artist.slug %></h1>

<section class="discography">
    <h2>Discography</h2>
    <% if !@artist.albums.empty? %>
    <ul>
    <% @artist.albums.each do |album| %>
        <li>
            <%= link_to image_tag(album.get_thumbnail_url, class: "thumb", alt: album.title, title: album.title), controller: :albums, action: :show, id: album.slug %>
            <%= link_to album.title, controller: :albums, action: :show, id: album.slug %>
        </li>
    <% end %>
    </ul>
    <% elsif @artist.last_mb_update.nil? %>
        <p><%= t "The discography is still being processed Sorry for the inconvenience" %></p>
    <% else %>
        <p><%= t "The artist does not seem to have official releases" %></p>
    <% end %>
</section>

<section class="similar-artists">
    <h2>Similar artists</h2>
    <ul>
    <% @artist.similar_artists.each do |similar_artist| %>
        <li>
            <%= link_to image_tag(similar_artist.get_thumbnail_url, class: "thumb", alt: similar_artist.name, title: similar_artist.name), controller: :artists, action: :show, id: similar_artist.slug %>
            <%= link_to similar_artist.name, controller: :artists, action: :show, id: similar_artist.slug %>
        </li>
    <% end %>
    </ul>
</section>
