<%= render partial: "backdrop" %>

<div class="container">

    <div class="row">

        <div class="col-md-12">

            <h1><%= t "Notifications" %></h1>

            <button name="markAsRead" class="btn btn-primary"><%= t "Mark all as read" %></button>

            <div class="notifications">
                <% if @notifications.length > 0 %>
                    <% @notifications.each do |notification| %>
                        <div class="notification <% if notification.viewed? %>read<% else %>new<% end %> <%= notification.type %>">

                            <time datetime="<%= notification.created_at %>" data-title="true" title="<%= notification.created_at %>">
                                <%= notification.created_at %>
                            </time>

                            <% unless notification.linked_obj.nil? %>
                                <% if notification.linked_obj.kind_of? Services::TMTAchievement::Base %>

                                    <h3><%= t notification.title %></h3>
                                    <p><blockquote><%= t notification.linked_obj.description; %></blockquote></p>

                                <% elsif notification.linked_obj.kind_of? User %>
                                    <h3><% t "New follower" %></h3>
                                    <p>
                                        <%= link_to notification.linked_obj.name, controller: :profiles, action: :view, slug: notification.linked_obj.slug %> <%= t "is now following you!" %>
                                    </p>
                                <% #elsif notification.linked_obj < Bug %>
                                    <% #<p><%= t "There's a new bug dude." % ></p> %>
                                <% else %>
                                    <p>Could not figure out the linked object.</p>
                                <% end %>

                            <% end %>

                        </div>
                    <% end %>
                <% else %>
                    <p><%= t "You have no notifications for the moment" %>.</p>
                <% end %>
            </div>

            <%= will_paginate @notifications, renderer: BootstrapPagination::Rails %>

        </div>

    </div>

</div>


<% content_for :header  do %>
<script>
    $(function(){
        $("button[name=markAsRead]").click(function(){
            $.getJSON("<%= url_for(:controller => 'ajax', :action => 'okstfu') %>", function(){
                $('.notifications .notification.new').removeClass("new").addClass("read");
            });
        });
    });
</script>
<% end %>
