<% content_for :header  do %>
<meta name="tmt:album:lastfm:updated_at" content="<%= @album.last_lastfm_update %>">
<meta name="tmt:album:entity:updated_at" content="<%= @album.updated_at %>">
<% end %>

<%= render partial: "backdrop", locals: {entity: @album} %>

<h1><%= link_to @album.title, controller: :albums, action: :show, id: @album.slug %></h1>
<h2><%= link_to @album.artist.name, controller: :artists, action: :show, id: @album.artist.slug  %></h2>

<% if !@album.tracks.empty?  %>
    <%= render partial: "review_button", locals: {album: @album, track: @album.tracks.first} %>

    <ul>
        <% @album.tracks.each do |track| %>
        <li>
            <%= link_to track.title, controller: :tracks, action: :show, id: track.slug, version: @album.slug  %>
        </li>
        <% end %>
    </ul>

<% elsif @album.last_lastfm_update.nil? %>
    <p><%= t "The albums tracks are still being processed Sorry for the inconvenience" %></p>
<% else %>
    <p><%= t "This album does not seem to have any tracks" %></p>
<% end %>
