<%= render partial: "backdrop", locals: {entity: @album} %>

<h1><%= link_to @album.title, controller: :albums, action: :show, id: @album.slug %></h1>
<h2><%= link_to @album.artist.name, controller: :artists, action: :show, id: @album.artist.slug  %></h2>

<%= render partial: "review_button", locals: {album: @album, track: @album.tracks.first} %>

<ul>
    <% @album.tracks.each do |track| %>
    <li>
        <%= link_to track.title, controller: :tracks, action: :show, id: track.slug  %>
    </li>
    <% end %>
</ul>

<section class="update-information">
    <ul>
        <li>LastFM : <%= @album.last_lastfm_update %></li>
        <li>Entity : <%= @album.updated_at %></li>
    </ul>
</section>
