 <li class="dropdown notifier">
    <a href="#" id="btnNotifications" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bell-o <% if current_user.has_unread_notifications? %>unread<% end %>"></i>
        <span><%= current_user.unread_notifications_count %></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="btnNotifications">
        <% if current_user_notifications.any? %>
            <% current_user_notifications.each do |notification| %>
                <li class="<% if notification.viewed? %>read<% else %>new<% end %> <%= notification.linked_obj.slug %>">
                    <time datetime="<%= notification.created_at %>" data-title="true" title="<%= notification.created_at %>">
                        <%= notification.created_at %>
                    </time>
                    <%= t notification.title %>
                </li>
            <% end %>
        <% else %>
            <li class="no-notifications"><%= t "You currently have no notifications"; %></li>
        <% end %>
        <li><%= link_to t("View all notifications"), controller: :notifications, action: :index %></li>
    </ul>
</li>
