<%= content_tag :div, track.player_attributes do -%>
    <div class="progress-wrap">
        <div class="progress">
          <div class="progress-bar loaded-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="<%= track.duration %>" style="width: 0%;"></div>
          <div class="progress-bar playing-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="<%= track.duration %>" style="width: 0%;"></div>
        </div>
       <div class="cursor"></div>
    </div>
    <i class="play fa fa-stop"></i>
    <div class="times">
        <span class="position"> -:--</span> / <span class="duration"> -:--</span>
    </div>
<% end -%>

<small class="report-bug" data-bug-type="track player" data-location="artist: <%= track.albums.first.artist.name; %>, track: <%= track.title; %>" data-user=""><i class="fa fa-bug"></i> <%= t 'Wrong song?' %></small>
