<!DOCTYPE html>
<html>
<head>
<%= ApplicationHelper.to_meta_tags @meta, request %>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body class="<%= action_name %>">

<%= yield %>

    <footer class="site-foot">
        <div class="container">
            <nav>
                <ul class="nav nav-pills social">
                    <li><a href="http://www.themusictank.com/" target="_blank">The Music Tank.com</a></li>
                    <li><a href="http://www.facebook.com/themusictank/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="http://www.twitter.com/themusictank/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/117543200043480372792" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                </ul>
                <ul class="nav nav-pills website">
                    <li class="copyright">1999 - <%= Time.now.year %> <%= t "The Music Tank" %></li>
                </ul>
            </nav>
        </div>
    </footer>

<%= javascript_include_tag 'application' %>

</body>
</html>
